################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StackMates/v15/Server/sqlite3/storage.ide-wal
/.vs/StackMates/v15/Server/sqlite3/storage.ide-shm
*.pdb
*.pdb
StackMates/obj/Debug/StackMates.pdb
*.ide
