<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
       <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
              <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                     xmlns="http://www.w3.org/2001/04/xmlenc#">
                     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
                     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                                   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                                   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                                          <KeyName>Rsa Key</KeyName>
                                   </KeyInfo>
                                   <CipherData>
                                          <CipherValue>FFGZqxIrpB9oceoN6TEq6utInXmwKiHnhdRAuH6myB6VlLTijjEsORHNHGYfoDOfelZ1WA4qbOGiGSG4cn+c2wQD7N+1TBk3ryeQCc0ggh80FIvNItkeU/f4ulym8R4ptufxl+AG0yg2+j1nGmB8aDiShiautG1Bzi6UTl2CPSw=</CipherValue>
                                   </CipherData>
                            </EncryptedKey>
                     </KeyInfo>
                     <CipherData>
                            <CipherValue>AKhMqQZN8YV9hvBXnLxJMczHiPG0M0ZT5D1UFUjsrbhiKnon7N72gvR3O8xoALXQX66KgDf+YimrJtp3RYhNOs30o6fDCnEq6OUsUvWieJ/BcaKCGoQxQlOM1J5x69NxZWn6BvlAJup3JtFnwG2wqFRdzRzVvvf4YZUeIFsyhLKL97RLPximXEhSImSVnTJ7AQXqGXQAalhnRWKSIfQpedqqOcx+Su15vABQO2P2LDkT8TmoC1sSWg+bZmSiJKqx4brKHIcXoyzyevTP6tLr9A==</CipherValue>
                     </CipherData>
              </EncryptedData>
       </connectionStrings>  
       
</configuration>